.hardware-page
    .container
        .hardware-page-wrapper
            .left-hardware-side
                .hardware-page-header Железо
                .hardware-page-icon
            .right-side-hardware
                ul.hardware-content
                    li.hardware-list.
                        Выбор железа для разработки, обзор
                        текущего железа и какие цели решает
                        (oculus, Smasung, Valve и т.д.)
                        Плюсы, минусы для разработки и использования
                    li.hardware-list.
                        Настройка,обучение сотрудников
                        заказчика, использованию (лайфхаки
                        подводные камни, возрастные сложности,
                        решение негативных кейсов, рассказ о 
                        позитивных кейсах) 
        .programming-btn
            a(href="#").programming-btn-link Хочу здесь работать
    .design-page-bg
