.hardware-page
    .container
        .human-page-wrapper
            .left-hardware-side
                .hardware-page-header.human-page-header.
                    Человеческие
                    ресурсы
                .management-page-icon.human-page-icon
            .right-side-human
                ul.human-content
                    li.human-list Найм
                    li.human-list Погружение в проект
                    li.human-list Обучение
                    li.human-list Менторство
    .design-page-bg