.hardware-page
    .container
        .hardware-page-wrapper
            .left-hardware-side
                .hardware-page-header.management-page-header Менеджмент
                .management-page-icon
            .right-side-management
                ul.management-content
                    li.management-list Организаци саппорта
                    li.management-list Обеспечение качества при VR разработке
                    li.management-list Методологии тестирования и приемки
                    li.management-list Подготовка к выставкам 
                    li.management-list Оценка проекта, управление рисками и сроками
                    li.management-list Оценка рентабельности проекта
                    li.management-list Участие в торгах
                    li.management-list Поиск заказов
                    li.management-list Организаци продаж 
                    li.management-list.
                        Формирование документации по проекту:
                        ТЗ, методические пособия и т.д.
        .programming-btn.management-btn
            a(href="#").programming-btn-link Хочу здесь работать
    .design-page-bg