.programming-page-wrapper
    .container
        .left-programming-side
            .programming-page-header Программирование
            .programming-page-icon
        .right-side-programming
            ul.design-content
                    li.design-list
                        a(href="#").design-link Языки программирования 
                    li.design-list
                        a(href="#").design-link Технологии
                    li.design-list
                        a(href="#").design-link. 
                            Сборка проекта с учетом
                            моделей, звука, анимации и 
                            т.д.
            .programming-btn
                a(href="#").programming-btn-link Хочу здесь работать
    .design-page-bg
