.programming-page
    .container
        .programming-page-wrapper
            .left-programming-side
                .programming-page-header Программирование
                .programming-page-icon
            .right-side-programming
                ul.programming-content
                    li.programming-list Языки программирования 
                    li.programming-list Технологии
                    li.programming-list.
                        Сборка проекта с учетом
                        моделей, звука, анимации и 
                        т.д.
                .sub-block-programming
                    ul.sub-programming-content
                        li.sub-programming-list ЯП 
                        li.sub-programming-list Архитектура Vr
                        li.sub-programming-list Фреймворки  
                        li.sub-programming-list Best Practice (junior -> senior)
                        li.sub-programming-list Алгоритмический фундамент      
                    ul.sub-programming-content
                        li.sub-programming-list Ue 4
                        li.sub-programming-list Blueprint
                        li.sub-programming-list etc
                .sub-block-programming.sublist
                    ul.sub-programming-content
                        li.sub-programming-list База
                        li.sub-programming-list Фреймворки 
                        li.sub-programming-list Продвинутый курс по ЯП
        .programming-btn
            a(href="#").programming-btn-link Хочу здесь работать
    .design-page-bg
